.main__home {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;

    border-bottom: 1px solid var(--color-text-2);
    width: 100%;
}

.sidebar {
    flex: 0 0 20%;
}

.transactions {
    flex: 1 1 auto;
}

.main__charts {
    padding: 4rem 0;
}

@media screen and (max-width: 1300px) {
    .main__home {
        flex-direction: column;
    }

    .sidebar {
        width: 60%;
        margin: auto;

        display: flex;
        gap: 5rem;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
}

@media screen and (max-width: 1150px) {
    .sidebar {
        width: 70%;
    }
}

@media screen and (max-width: 850px) {
    .sidebar {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .sidebar {
        gap: 2rem;
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        flex-direction: column;
        gap: 0;
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 80%;
    }
}